---
import { ClerkLayout } from "astro-clerk-auth/components/control";
import { SignIn } from "astro-clerk-auth/components/react";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sign In to Clerk + Astro">
  <ClerkLayout>
    <div>
      <SignIn path="/sign-in" />
    </div>
  </ClerkLayout>
</Layout>

<style>
  div {
    width: full;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
