---
import { ClerkLayout } from "astro-clerk-auth/components/control";
import Layout from "../../layouts/Layout.astro";
import UserJSON from "../../components/UserJSON.astro";
---

<Layout title="Authenticated Dashboard">
  <ClerkLayout>
    <div>
      <h1>Authenticated Dashboard</h1>
      <UserJSON />
    </div>
  </ClerkLayout>
</Layout>

<style>
  div {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
