---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Clerk + Astro">
  <main>
    <h1>Welcome to <span class="text-gradient">Clerk + Astro</span></h1>
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
  }
</style>
